.idea/.name
.idea/codeStyleSettings.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
.idea/libraries/Maven__junit_junit_4_11.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_springframework_spring_aop_3_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_3_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_3_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_3_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_3_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_3_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_orm_3_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_3_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_3_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_3_2_0_RELEASE.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
chess.iml
chess.ipr
chess.iws
.idea/uiDesigner.xml
